@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";


.input {
    padding-left: 1rem;
    padding-right: 1rem;

    &__title {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    &__form {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
    }
    &__field {
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    &__btn--name {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    &__subtitle-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }
    &__subtitle {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;

    }

}