@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.input {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: $text-color;
  background-color: $page-bg;
  @include tablet {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  @include desktop {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  &__title {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  &__form {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__field {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    color: $label-color;
    height: 2.5rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;

    &:focus {
      outline: none;
      border: 2px solid $label-color;
    }
    @include tablet {
      width: 30rem;
    }
    @include desktop {
      width: 38rem;
    }
  }
  &__btn {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 100%;
    color: $main-bg;
    border-radius: 0.5rem;
    background-color: $page-bg;
    border: 2px dashed $label-color;
    cursor: pointer;
    &:hover {
      border: 1px solid $page-bg;
      background-color: $label-color;
    }
    &:focus {
      outline: none;
      border: 2px solid $label-color;
    }
    @include tablet {
      width: 15rem;
    }
    @include desktop {
      width: 25rem;
    }
    &--surprise {
      margin-bottom: 2.5rem;
    }
  }

  &__subtitle-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    margin-top: 1.5rem;
  }
  &__subtitle {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}
