@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
  }
}
