// Colors
$text-color: #fe019a;
$label-color: #950740;
$accent-one: #c3073f;
$divider-color: #4e4e50;
$page-bg: black;
$main-bg: #ffffff;

// Sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
