// Colors
$text-color: #FE019A;
$label-color: #950740; //table headings
$accent-one: #c3073f;
$divider-color: #4e4e50;
$page-bg: #f7f8f9;
$main-bg: #ffffff;

// Sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

